<mat-card >
    <form (submit)="onSavePost()" [formGroup]="form">
        <mat-form-field>
            <input matInput type="text" formControlName="title"  placeholder="Post Title">
            <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput rows="4" formControlName="content"placeholder="Post Content"></textarea>
            <mat-error *ngIf="content.invalid">Please enter a post content.</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit" [disabled]="!form.valid || isLoading">Save Post</button>
    </form>
</mat-card>
<mat-spinner *ngIf="isLoading"></mat-spinner>
