<mat-card>
  <form (submit)="none" [formGroup]="form">

    <mat-form-field>
      <input matInput type="text" formControlName="username" placeholder="username">
      <div *ngIf="username.touched && username.invalid">
        <mat-error *ngIf="username.errors.minlength">User name is too short</mat-error>
        <mat-error *ngIf="username.errors.required"> User name is required </mat-error>
      </div>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" formControlName="password" placeholder="password">
      <div *ngIf="password.touched && password.invalid">
        <mat-error *ngIf="password.errors.minlength">password is too short</mat-error>
        <mat-error *ngIf="password.errors.required"> password is required </mat-error>
      </div>
    </mat-form-field>


    <mat-form-field>
      <input (keyup.enter)="addSkill()" matInput type="skill" formControlName="skill" placeholder="skill">
      <div *ngIf="skill.touched && skill.invalid">
        <mat-error *ngIf="skill.errors.minlength">skill is too short</mat-error>
      </div>
    </mat-form-field>

    <ul class="list-group">
      <li *ngFor="let skill of skills" class="list-group-item"> {{ skill }}</li>
    </ul>
    <button hidden></button>

    <button mat-raised-button color="accent" (click)="signup()" [disabled]="!form.valid || isLoading">SignUp</button>

  </form>

  <mat-error *ngIf="form.errors"> username already taken.</mat-error>
</mat-card>

<mat-spinner *ngIf="isLoading"></mat-spinner>